@model Blog.Models.Admin.Post.PostEditModel

@{
    ViewBag.Title = Model.AddOrEdit + " Post";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <h2>@Model.AddOrEdit Post</h2>
            <br />
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <form id="Form" action="edit" method="post">
                <div class="col-md-9">
                    <div class="row">
                        <input type="text" class="form-control FullWidthTextInput" placeholder="Enter title here" value="@Model.Title" data-bind="value: Title"/>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1">Permalink:</div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" value="@Model.Slug" data-bind="value: Slug"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" name="Body" id="Body" rows="10" cols="70" data-bind="value: Body">@Model.Body</textarea>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3">Status:</div>
                        <div class="col-md-9">
                            <select data-parsley-trigger="change" required="" class="form-control" data-bind="value: Status" value="@Model.Status">
                                @foreach (var possibleStatus in Model.PossibleStatuses)
                                {
                                    if (Model.Status == possibleStatus)
                                    {
                                        <option selected value="@possibleStatus">@possibleStatus</option>
                                    }
                                    else
                                    {
                                        <option value="@possibleStatus">@possibleStatus</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">Visibility:</div>
                        <div class="col-md-9">
                            <select data-parsley-trigger="change" required="" class="form-control" data-bind="value: Visibility" value="@Model.Visibility">
                                @foreach (var possibleVisibility in Model.PossibleVisibilities)
                                {
                                    if (Model.Visibility == possibleVisibility)
                                    {
                                        <option selected value="@possibleVisibility">@possibleVisibility</option>
                                    }
                                    else
                                    {
                                        <option value="@possibleVisibility">@possibleVisibility</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">Timestamp:</div>
                        <div class="col-md-9"><input type="text" id='datetimepicker4' class="form-control" value="@Model.Timestamp" data-bind="value: Timestamp"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">Comments:</div>
                            <div class="col-md-9">
                                <input type="checkbox" class="form-control" checked="@Model.CommentsEnabled" data-bind="checked: CommentsEnabled" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <button type="button" data-bind="click: save" class="btn btn-success btn-md"><i class="fa fa-floppy-o"></i> Save</button>
                    </div>
                    <br/>
                    <div class="row">
                        Featured Image:
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" value="@Model.FeaturedImage" data-bind="value: FeaturedImage" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var initialModel = @Html.Raw(Json.Encode(Model));
    $(document).ready(function(){
        $('#datetimepicker4').datetimepicker();
    });
</script>
<script type="text/javascript" src="@Url.Content("~/Content/PostAdmin/PostEdit.js")"></script>
