@model Blog.Models.Post.PostHomeTable
    
@{
    ViewBag.Title = "The Prime";
}

<div class="container">
    <div class="col-sm-8 blog-home-main">
        @foreach (var row in Model.Rows)
        {
            <div class="blog-post">
                <div class="row">
                    <h1>@Html.Raw(row.Title)</h1>
                </div>
                <div class="row">
                    <h5>@Html.Raw(row.Timestamp) By @Html.Raw(row.Author)</h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.Raw(row.FeaturedImage)
                    </div>
                    <div class="col-md-9">
                        <p>@Html.Raw(row.Body)</p>
                    </div>
                </div>
                <div class="row">
                    <h6>Filed Under: @Html.Raw(row.Categories) Tagged With: @Html.Raw(row.Tags)</h6>
                </div>
                <br/>
                <hr/>
                <br/>
            </div>
        }
        @Html.Raw(Model.Pagination)
        <footer class="blog-footer">
            <p>
                Copyright &copy; @DateTime.Now.Year ZL Studios
            </p>
            <p>
                <a href="#">About</a> - <a href="#">Archives</a> - <a href="">Privacy Policy</a>
            </p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
    </div>
</div>