<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://theprime.co"><img src="https://theprime.co/wp-content/themes/mindstream/images/logo.png" alt="The Prime"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Editorials</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Videos</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

@RenderBody()

</body>
</html>
